*,body{
    margin:0;
    border:0;
}

body{
    background-color: rgb(107, 107, 107);
    display: flex;
    flex-direction: column;
}

hr{
    margin-top: 10px;
    border: 1px rgb(26, 0, 143) solid;
    background-color: rgb(26, 0, 143);
}

header{
    position: relative;
    background-color: rgb(1,0,56);
    height: auto;
}

h1,h2,h3,.description{
    color:rgb(255,255,255);
    margin:0 20px;
    padding: 20px;
}

a{
    text-decoration: none;
}

h1 a{
    color: white;
}

a:hover{
    text-decoration: underline;
}

.headerLinks{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
}

.headerLinks *{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    padding: 2px;
    border-radius: 5px;
}

.headerLinks .nav{
    display: none;
    position: relative;
    margin: 10px;
    width: 60px;
    height: 60px;
}

.stroke{
    display: block;
    position: absolute;
    padding: 0;
    margin-top: 8px;
    width: 50px;
    height: 6px;
    transform: none;
    opacity: 1;
    transition: transform 0.2s, opacity 0.2s, margin-top 0.2s;
}

.headerLinks a:hover{
    text-decoration: underline;
}

.popup{
    position: fixed;
    align-self: center;
    top: 200px;
    z-index: 1;
    color: white;
    font-size: large;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    background-color: rgb(64, 62, 204);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popup div *{
    padding: 2% 5%;
    margin: 5px;
    border-radius: 5px;
}

.popup div *:hover{
    text-decoration: none;
}

.sail{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 0;
    opacity: 0.6;
}

.websiteDescription{
    display: flex;
    background-color: rgb(64, 62, 204);
    height: auto;
    padding: 30px 0 30px 0px;
    font-size: 20px;
    line-height: 1.3em;
}

.websiteDescription p{
    margin: 0 10px;
    color: white;
}

.gameSelection{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.gameSelection *{
    margin: 10px 10px 0px 10px;
}

.game{
    position: relative;
    display: flex;
}

.game>div{
    padding: 10px 10px 10px 50px;
}

.description{
    margin-top: 70px;
    width: max(auto,100px);
}

.gameImg{
    width: 200px;
    height: 200px;
}

.gameSelection * * *{
    border: 2px solid blue;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

.gameSelection * * *:hover{
    margin: -12px 8px 4px 8px;
    border: 4px solid blue;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.options{
    width: 200px;
    display: flex;
    flex-direction: row;
}

.options *{
    width: 50%;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.options *:hover{
    text-decoration: none;
}

.open{
    background-color:green;
    color:white;
}

.open:hover{
    background-color: white;
    color: green;
    transition: background-color 1s, color 1s;
}

.remove{
    background-color:red;
    color:white;
}

.remove:hover{
    background-color: white;
    color: red;
    transition: background-color 1s, color 1s;
}

.close{
    color: yellow;
    width: 100%;
}

.game form{
    position: absolute;
    left: 20px;
}

.formular, .error_formular{
    color: white;
    font-size: large;
    margin: 20px calc(50vw - 145px);
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    background-color: rgb(26, 0, 143);
    display: flex;
    flex-direction: column;
}

.formular input{
    margin-bottom: 20px;
}

.error_formular{
    background-color: rgb(131, 0, 0);
}

@media screen and (max-width: 800px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .headerLinks{
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .headerLinks .nav{
        display: block;
    }
    .headerLinks h1, .headerLinks a{
        margin-bottom: 10px;
    }
    .websiteDescription{
        flex-direction: column;
    }
    .websiteDescription p{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .game{
        flex-direction: column;
    }
    .description{
        margin-top: 0;
        margin-left: 0;
        width: 200px;
    }
    .game>div{
        padding: 10px calc(50vw - 100px);
    }
}

@media screen and (max-width: 464px) {
    .gameSelection{
        margin: 0 calc(50vw - 132px);
    }
    h1{
        margin: 0;
        padding: 20px 0;
        font-size: 1.5em;
    }
}