*,body{
    margin:0;
    border:0;
}

body{
    background-color: rgb(32, 32, 32);
}

hr{
    margin-top: 10px;
    border: 1px rgb(26, 0, 143) solid;
    background-color: rgb(26, 0, 143);
}

header{
    position: relative;
    background-color: rgb(1,0,56);
    height: 100px;
}

h1,h2,h3,.description{
    color:rgb(255,255,255);
    margin:0 10px;
    padding: 20px;
}

a{
    text-decoration: none;
}

h1 a{
    color: white;
}

a:hover{
    text-decoration: underline;
}

.headerLinks{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
}

.headerLinks *{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    padding: 2px;
    border-radius: 5px;
}

.headerLinks a:hover{
    text-decoration: underline;
}

.popup{
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 1;
    color: white;
    font-size: large;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    background-color: rgb(64, 62, 204);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popup div *:hover{
    text-decoration: none;
}

.sail{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 0;
    opacity: 0.5;
}

.websiteDescription{
    display: flex;
    background-color: rgb(64, 62, 204);
    height: auto;
    padding: 30px 0 30px 0px;
    font-size: 20px;
    line-height: 1.3em;
}

.websiteDescription p{
    margin: 0 10px;
}

.gameSelection{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.gameSelection *{
    margin: 10px 10px 0px 10px;
}

.game{
    position: relative;
    margin: 10px 10px 70px 100px;
}

.gameImg{
    width: 200px;
    height: 200px;
}

.gameSelection * * *:hover{
    margin: -10px 6px 2px 6px;
    border: 4px solid blue;
}

.options{
    width: 200px;
    display: flex;
    flex-direction: row;
}

.options *{
    width: 50%;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.options *:hover{
    text-decoration: none;
}

.open{
    background-color:green;
    color:white;
}

.open:hover{
    background-color: white;
    color: green;
    transition: background-color 1s, color 1s;
}

.remove{
    background-color:red;
    color:white;
}

.remove:hover{
    background-color: white;
    color: red;
    transition: background-color 1s, color 1s;
}

.close{
    color: yellow;
    width: 100%;
}

.game form{
    position: absolute;
    left: 20px;
}

.description{
    position: absolute;
    left: 200px;
    top: 50px;
    width: 500px;
    max-height: 130px;
}

.formular, .error_formular{
    color: white;
    font-size: large;
    margin: 100px 40vw;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    background-color: rgb(26, 0, 143);
    display: flex;
    flex-direction: column;
}

.formular input{
    margin-bottom: 20px;
}

.error_formular{
    background-color: rgb(131, 0, 0);
}